*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}
#users{
    height: 100%;
    width: 20%;
    border: 1px solid rgba(0, 0, 0, 0.616);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#chat{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}
#chat > div{
    height: 95%;
    width: 100%;
    text-align: start;
}
footer{
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
footer > input{
    width: 90%;
    height: 100%;
}
footer > button{
    width: 10%;
    height: 100%;
    background-color: rgb(94, 94, 220);
    border-radius: 3px;
    color: white;
}
footer > button:hover{
    background-color: rgba(94, 94, 220, 0.641);
    cursor: pointer;
}